<h1>Sign Up</h1>

<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
  <br>
  <%= f.label :password %><br>
  <%= f.text_field :password %>
  <br>
  <%= f.label :height %><br>
  <%= f.text_field :height %>
  <br>
  <%= f.label :happiness %><br>
  <%= f.text_field :happiness %>
  <br>
  <%= f.label :nausea %><br>
  <%= f.text_field :nausea %>
  <br>
  <%= f.label :tickets %><br>
  <%= f.text_field :tickets %><br>
  <br>
  <%= f.label :admin %>
  <%= f.check_box :admin %>
  <br>
  <%= f.submit %><br>
<% end %>
<br>
<h4><%= link_to "Log In", signin_path %></h4>